.access {
  padding: 125px 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(245,245,245,1) 50%);

  &__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 40px;
  }

  &__descr {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: var(--color-text-descr);
  }

  &__variants {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }

  &__variant {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 20px;
  }

  &__variant-head {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    grid-gap: 20px;
  }

  &__variant-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: var(--color-black);
  }

  &__variant-descr {
    max-width: 300px;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-grey);
  }

  &__variant-payments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 30px;
    background-color: #E9F4FF;
  }

  &__variant-price {
    font-size: 34px;
    line-height: 41px;
    font-weight: 900;
    background: linear-gradient(94.28deg, #0057FF 0.89%, #7136EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__select {
    max-width: clamp(130px, 13.387vw, 166px);
    width: 100%;
  }

  &__select-header {
    max-width: clamp(130px, 13.387vw, 166px);
    width: 100%;
    padding: 13px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;
    background-color: var(--color-white);
    border: 1px solid #DDDDDD;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
  }

  &__select-body {
    width: 100%;
    flex-direction: column;
    background-color: var(--color-white);
    border: 1px solid #DDDDDD;
    border-radius: 10px;

    li {
      padding: 10px 15px;
      border-bottom: 1px solid #DDDDDD;
      font-weight: 500;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__variant-info {
    padding: 30px 30px 40px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    a {
      padding: 19px 0 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 39px;
      font-family: var(--font-family-montserrat);
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
      border: 1px solid var(--color-blue);
      background: linear-gradient(94.28deg, #0057FF 0.89%, #7136EE 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-transform: uppercase;
    }
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    li {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
    }

    .innactive {
      color: var(--color-grey);
    }
  }
}
