.feedbacks {
  padding: 125px 0 45px;
  background-image: url('../../img/feedbacks-bg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-text);

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__title {
    color: var(--color-white);
  }

  &__info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 75px;
  }

  &__slider {
    max-width: 992px;
    width: 100%;
  }

  &__slider-slide {
    display: flex;
    max-width: 239px;
    width: 100%;

    picture,
    img {
      display: flex;
      width: 100%;
    }
  }

  &__controls {
    max-width: 992px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
      justify-content: space-between;
    }
  }

  &__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;

    svg {
      fill: #7A7A7A;
      transition: all 0.4s ease;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;

      svg {
        transform: scale(-1);
      }
    }

    &:hover {
      svg {
        fill: var(--color-white);
      }
    }

    @media (max-width: 1024px) {
      position: relative;
      left: initial;
      right: initial;
      top: initial;
      transform: initial;
    }
  }

  &__slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 4px;

    .swiper-pagination-bullet {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-white);
    }

    .swiper-pagination-bullet-active {
      background: linear-gradient(94.28deg, #0057FF 0.89%, #7136EE 100%);
    }
  }
}
