.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 15px;
    font-family: var(--font-family-inter);
    font-size: 25px;
    line-height: 32px;
    color: #01001C;
  }

  &__btn {
    margin-top: clamp(20px, 9.549vw, 55px);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    border: 1px solid var(--color-blue);
    border-radius: 20px;
    transition: all 0.4s ease;

    span {
      background: linear-gradient(94.28deg, #0057FF 0.89%, #7136EE 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      transition: all 0.4s ease;
    }

    &:hover {
      background: linear-gradient(94.28deg, #0057FF 0.89%, #7136EE 100%);

      span {
        background: var(--color-white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    @media screen and (max-width: 576px) {
      margin-top: 20px;
    }
  }

  &__fieldset {
    position: relative;
    width: 100%;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 20px 40px;
    background-color: #FAFAFA;
    border: 1px solid #939191;
    box-shadow: 0px 0px 32px rgba(1, 0, 28, 0.04);
    border-radius: 20px;
    font-family: var(--font-family-inter);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #01001C;
    transition: all 0.3s ease;

    &:focus ~ .form__label-name {
      font-size: 12px;
      line-height: 22px;
      top: 10px;
    }

    &:focus ~ .flag {
      display: flex;
    }
  }

  &__label-name {
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    font-family: var(--font-family-inter);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #93979F;
    cursor: text;
    transition: all 0.4s linear;
    z-index: 2;
  }

  .js-validate-error-label {
    font-family: var(--font-family-inter);
    font-size: 12px;
    line-height: 22px;
  }

  .flag {
    position: absolute;
    display: none;
    top: 25px;
    left: 20px;
  }

  .form__fieldset + .form__fieldset {
    margin-top: 15px;
  }
}
