.header {
  position: absolute;
  width: 100%;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px clamp(30px, 3.646vw, 70px) 12px 30px;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(63, 61, 66, 0.8);
    backdrop-filter: blur(70px);
    border-radius: 35px;
  }

  &__nav {
    grid-gap: clamp(30px, 3.226vw, 40px);
    color: var(--color-white);
  }

  &__logo {
    position: relative;
    z-index: 20;
  }
}


