.hero {
  background-image: url('../../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapp {
    padding: clamp(180px, 28.226vw, 280px) 0 clamp(160px, 32.258vw, 320px);
  }

  &__info {
    max-width: 715px;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;

    @media screen and (max-width: 576px) {
      align-items: center;
    }
  }

  &__title {
    text-align: left;
    color: var(--color-white);
  }

  &__descr {
    max-width: 615px;
    color: var(--color-white);
  }

  &__btn {
    max-width: 264px;
    height: 78px;
  }

}
