.hero {
  width: 100%;
  height: 100%;
  padding: clamp(180px, 28.226vw, 280px) 0 0;
  background-image: url('../../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapp {
    display: flex;
    align-items: stretch;

    @media screen and (max-width: 1240px) {
      flex-direction: column;
      grid-gap: 40px;
    }
  }

  &__info {
    max-width: 715px;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;

    @media screen and (max-width: 576px) {
      align-items: center;
    }
  }

  &__title {
    text-align: left;
    color: var(--color-white);
  }

  &__descr {
    max-width: 615px;
    color: var(--color-white);
  }

  &__btn {
    max-width: 264px;
    height: 78px;
  }

  &__phones {
    position: relative;
    margin-left: -100px;
    transition: 0.3s linear;

    @media screen and (max-width: 1240px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;
    }
  }
}
