.mobile {
  position: fixed;
  top: -50px;
  right: -22px;
  width: 0;
  height: 0;
  background-color: var(--color-white);
  z-index: 20;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  transition: 0.3s ease;

  &.active {
    display: block;
    width: calc(100% + 48px);
    height: 100vh;
    border-bottom-left-radius: 0;

    .header__nav,
    .header__login {
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu {
    padding: 50px 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 40px;
    // opacity: 0;

    .header__nav,
    .header__login {
      opacity: 0;
    }
  }
}
