.nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 992px) {
    display: none;
  }

  &__link {
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      background: linear-gradient(94.28deg, #0057FF 0.89%, #7136EE 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}
