.signals {
  padding: clamp(80px, 12.601vw, 125px) 0 80px;
  background-color: var(--color-gray);

  &__top {
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__bot {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
  }

  &__tabs-controls {
    display: flex;
    align-items: center;
    grid-gap: 15px;

    @media screen and (max-width: 576px) {
      width: 100%;
      overflow-x: auto;
      justify-content: flex-start;
    }
  }

  &__tabs-btns {
    padding: 13px 25px;
    border: 1px solid var(--color-text);
    border-radius: 39px;
    color: var(--color-black);
    cursor: pointer;
    transition: 0.4s ease;

    &.active,
    &:hover {
      border: 1px solid transparent;
      background: linear-gradient(94.28deg, #0057FF 0.89%, #7136EE 100%);
      color: var(--color-white);
    }
  }

  &__tabcontent-wrapp {
    display: flex;
    align-items: stretch;
    grid-gap: 10px;
  }

  &__subscribe {
    padding: 40px clamp(40px, 5.04vw, 50px);
    background-image: url('../../img/subscribe-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;

    @media screen and (max-width: 576px) {
      padding: 30px 10px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    grid-gap: clamp(10px, 2.661vw, 33px);

    span {
      font-family: var(--font-family-heliosextblack);
      font-size: clamp(16px, 1.774vw, 22px);
      line-height: clamp(18px, 2.661vw, 33px);
      font-weight: 900;
      color: var(--color-white);
      letter-spacing: 0.02em;
    }

    fieldset {
      max-width: 440px;
      width: 100%;
      height: 56px;
      display: flex;
      align-items: center;
      grid-gap: 8px;
      flex-shrink: 0;

      @media screen and (max-width: 576px) {
        flex-direction: column;
        grid-gap: 15px;
        height: fit-content;
      }
    }

    label {
      height: 56px;
      display: flex;
      align-items: center;
      grid-gap: 10px;
      padding: 20px;
      background-color: var(--color-white);
      border-radius: 27.5px;

      svg {
        flex-shrink: 0;
      }
    }

    input {
      &::placeholder {
        font-size: 14px;
        line-height: 21px;
        color: var(--color-placeholder);
      }
    }

    button {
      height: 56px;
      padding: 0;

      span {
        font-family: var(--font-family-montserrat);
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
        color: var(--color-white);
      }

      @media screen and (max-width: 576px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      grid-gap: 15px;
    }

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  &__quality {
    padding: clamp(40px, 4.536vw, 45px) clamp(40px, 5.04vw, 50px);
    display: flex;
    align-items: center;
    grid-gap: 13px;
    background-image: url('../../img/quality-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    border: 1px solid #DEDEDE;
    border-radius: 20px;

    @media screen and (max-width: 576px) {
      padding: 30px 10px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__quality-title {
    font-family: var(--font-family-heliosextblack);
    font-size: clamp(16px, 1.774vw, 22px);
    line-height: clamp(18px, 2.661vw, 33px);
    font-weight: 900;
    color: var(--color-black);
    letter-spacing: 0.02em;

    span {
      color: var(--color-orange);
    }

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  &__quality-link {
    max-width: 206px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    border-radius: 10px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    @media screen and (max-width: 576px) {
      max-width: 100%;
    }
  }
}
