<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__top">
        <a class="footer__logo logo" href="/">
          <svg width='183' height='49'>
            <use href='img/sprite/sprite.svg#logo-footer'></use>
          </svg>
        </a>

        <ul class="footer__nav nav">
          <li class="nav__item">
            <a class="nav__link anchor" href="#signals">Сигналы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link anchor" href="#history">История</a>
          </li>
          <li class="nav__item">
            <a class="nav__link anchor" href="#predictions">Прогноз доходности</a>
          </li>
          <li class="nav__item">
            <a class="nav__link anchor" href="#access">Доступ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link anchor" href="#feedbacks">Отзывы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link anchor" href="#faq">FAQ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" target="_blank" href="https://ostupchuk.com/about">О нас</a>
          </li>
        </ul>

        <a class="footer__btn" href="#access"><span>ПОЛУЧИТЬ ДОСТУП</span></a>
      </div>

      <div class="footer__bot">
        <p class="footer__copyright">© 2023. Все права защищены.</p>

        <div class="footer__bot-links">
          <a href="#">Пользовательское соглашение</a>
          <a href="#">Публичная оферта</a>
        </div>
      </div>
    </div>
  </div>
</footer>

