<header class="header">
  <div class="container">
    <div class="header__wrapp">
      <a class="header__logo logo" href="/">
        <svg width='166' height='45'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <ul class="header__nav nav">
        <li class="nav__item">
          <a class="nav__link anchor" href="#signals">Сигналы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link anchor" href="#history">История</a>
        </li>
        <li class="nav__item">
          <a class="nav__link anchor" href="#predictions">Прогноз доходности</a>
        </li>
        <li class="nav__item">
          <a class="nav__link anchor" href="#access">Доступ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link anchor" href="#feedbacks">Отзывы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link anchor" href="#faq">FAQ</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" target="_blank" href="https://ostupchuk.com/about">О нас</a>
        </li>
      </ul>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
        <div class="mobile__menu">
        </div>
      </div>
    </div>
  </div>
</header>
