<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>OStUpChuk</title>
  <meta name="Description" content="default">
  <!-- <link href="img/fav.png" rel="icon"/> -->
  <link rel="preload" href="fonts/Poppins-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Poppins-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Poppins-Black.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Raleway-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Raleway-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Raleway-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
