:root {
    --faq-arrow: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7302 5.07458C13.6912 4.98206 13.6006 4.92187 13.5 4.92187L2.50002 4.922C2.39956 4.922 2.30886 4.98218 2.26968 5.07471C2.23061 5.16724 2.25076 5.27429 2.32082 5.34631L7.82082 11.0032C7.86782 11.0515 7.93252 11.0789 8.00002 11.0789C8.06753 11.0789 8.13223 11.0515 8.17922 11.0032L13.6792 5.34619C13.7493 5.27405 13.7693 5.16711 13.7302 5.07458Z' fill='url(%23paint0_linear_1_433)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_433' x1='2.25' y1='4.92188' x2='14.3734' y2='6.61491' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.00886268' stop-color='%230057FF'/%3E%3Cstop offset='1' stop-color='%237136EE'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

}


