:root {
  /* -- Fonts --*/
  --font-family-poppins: "Poppins", sans-serif; // var(--font-family-poppins);
  --font-family-raleway: "Raleway", sans-serif; // var(--font-family-raleway);

  /* -- Colors --*/
  --color-white: #ffffff; // var(--color-white);
  --color-black: #000000; // var(--color-black);
}








